/node_modules/
/demo/node_modules
/test/
/build/
/dist/
/.vite/
/.idea/
*storybook.log
storybook-static/
custom-elements.json
/demo/yarn-error.log
/yarn-error.log
/minimal/
/demo/dist/
/dist-cdn/
/dev/node_modules/
.DS_Store
.storybook/public/tailwind.css
/src/public/styles.css
/src/public/theme.css
/felleslosninger-minid-elements-*.tgz
/design-tokens/
/design-tokens-build/
.pnpm-store/
