@theme {
  --spacing-1: var(--ds-size-1);
  --spacing-2: var(--ds-size-2);
  --spacing-3: var(--ds-size-3);
  --spacing-4: var(--ds-size-4);
  --spacing-5: var(--ds-size-5);
  --spacing-6: var(--ds-size-6);
  --spacing-7: var(--ds-size-7);
  --spacing-8: var(--ds-size-8);
  --spacing-9: var(--ds-size-9);
  --spacing-10: var(--ds-size-10);
  --spacing-11: var(--ds-size-11);
  --spacing-12: var(--ds-size-12);
  --spacing-13: var(--ds-size-13);
  --spacing-14: var(--ds-size-14);
  --spacing-15: var(--ds-size-15);
  --spacing-18: var(--ds-size-18);
  --spacing-22: var(--ds-size-22);
  --spacing-26: var(--ds-size-26);
  --spacing-30: var(--ds-size-30);

  --shadow-xs: var(--ds-shadow-xs);
  --shadow-sm: var(--ds-shadow-sm);
  --shadow-md: var(--ds-shadow-md);
  --shadow-lg: var(--ds-shadow-lg);
  --shadow-xl: var(--ds-shadow-xl);

  --radius: var(--ds-border-radius-default);
  --radius-full: var(--ds-border-radius-full);
  --radius-sm: var(--ds-border-radius-sm);
  --radius-md: var(--ds-border-radius-md);
  --radius-lg: var(--ds-border-radius-lg);
  --radius-xl: var(--ds-border-radius-xl);

  --opacity-disabled: var(--ds-disabled-opacity);

  --border-width: var(--ds-border-width-default);
  --border-width-highlight: var(--ds-border-width-highlight);

  /******************************
    * Typography                  *
    ******************************/
  --font-*: initial;
  --font-sans: 'Inter', 'Arial', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans--font-feature-settings: 'cv05' 1;

  --font-mono: IBM Plex Mono;

  --tracking-1: var(--ds-letter-spacing-1);
  --tracking-2: var(--ds-letter-spacing-2);
  --tracking-3: var(--ds-letter-spacing-3);
  --tracking-4: var(--ds-letter-spacing-4);
  --tracking-5: var(--ds-letter-spacing-5);
  --tracking-6: var(--ds-letter-spacing-6);
  --tracking-7: var(--ds-letter-spacing-7);
  --tracking-8: var(--ds-letter-spacing-8);
  --tracking-9: var(--ds-letter-spacing-9);

  --leading-sm: var(--ds-line-height-sm);
  --leading-md: var(--ds-line-height-md);
  --leading-lg: var(--ds-line-height-lg);

  --text-1: var(--ds-font-size-1);
  --text-2: var(--ds-font-size-2);
  --text-3: var(--ds-font-size-3);
  --text-4: var(--ds-font-size-4);
  --text-5: var(--ds-font-size-5);
  --text-6: var(--ds-font-size-6);
  --text-7: var(--ds-font-size-7);
  --text-8: var(--ds-font-size-8);
  --text-9: var(--ds-font-size-9);
  --text-10: var(--ds-font-size-10);
  --text-11: var(--ds-font-size-11);

  /* body */
  --text-body-xs: var(--ds-body-xs-font-size);
  --text-body-xs--font-weight: var(--ds-body-xs-font-weight);
  --text-body-xs--letter-spacing: var(--ds-body-xs-letter-spacing);
  --text-body-xs--line-height: var(--ds-body-xs-line-height);

  --text-body-sm: var(--ds-body-sm-font-size);
  --text-body-sm--font-weight: var(--ds-body-sm-font-weight);
  --text-body-sm--letter-spacing: var(--ds-body-sm-letter-spacing);
  --text-body-sm--line-height: var(--ds-body-sm-line-height);

  --text-body-md: var(--ds-body-md-font-size);
  --text-body-md--font-weight: var(--ds-body-md-font-weight);
  --text-body-md--letter-spacing: var(--ds-body-md-letter-spacing);
  --text-body-md--line-height: var(--ds-body-md-line-height);

  --text-body-lg: var(--ds-body-lg-font-size);
  --text-body-lg--font-weight: var(--ds-body-lg-font-weight);
  --text-body-lg--letter-spacing: var(--ds-body-lg-letter-spacing);
  --text-body-lg--line-height: var(--ds-body-lg-line-height);

  --text-body-xl: var(--ds-body-xl-font-size);
  --text-body-xl--font-weight: var(--ds-body-xl-font-weight);
  --text-body-xl--letter-spacing: var(--ds-body-xl-letter-spacing);
  --text-body-xl--line-height: var(--ds-body-xl-line-height);

  /* body short */
  --text-body-short-xs: var(--ds-body-short-xs-font-size);
  --text-body-short-xs--font-weight: var(--ds-body-short-xs-font-weight);
  --text-body-short-xs--letter-spacing: var(--ds-body-short-xs-letter-spacing);
  --text-body-short-xs--line-height: var(--ds-body-short-xs-line-height);

  --text-body-short-sm: var(--ds-body-short-sm-font-size);
  --text-body-short-sm--font-weight: var(--ds-body-short-sm-font-weight);
  --text-body-short-sm--letter-spacing: var(--ds-body-short-sm-letter-spacing);
  --text-body-short-sm--line-height: var(--ds-body-short-sm-line-height);

  --text-body-short-md: var(--ds-body-short-md-font-size);
  --text-body-short-md--font-weight: var(--ds-body-short-md-font-weight);
  --text-body-short-md--letter-spacing: var(--ds-body-short-md-letter-spacing);
  --text-body-short-md--line-height: var(--ds-body-short-md-line-height);

  --text-body-short-lg: var(--ds-body-short-lg-font-size);
  --text-body-short-lg--font-weight: var(--ds-body-short-lg-font-weight);
  --text-body-short-lg--letter-spacing: var(--ds-body-short-lg-letter-spacing);
  --text-body-short-lg--line-height: var(--ds-body-short-lg-line-height);

  --text-body-short-xl: var(--ds-body-short-xl-font-size);
  --text-body-short-xl--font-weight: var(--ds-body-short-xl-font-weight);
  --text-body-short-xl--letter-spacing: var(--ds-body-short-xl-letter-spacing);
  --text-body-short-xl--line-height: var(--ds-body-short-xl-line-height);

  /* body long */
  --text-body-long-xs: var(--ds-body-long-xs-font-size);
  --text-body-long-xs--font-weight: var(--ds-body-long-xs-font-weight);
  --text-body-long-xs--letter-spacing: var(--ds-body-long-xs-letter-spacing);
  --text-body-long-xs--line-height: var(--ds-body-long-xs-line-height);

  --text-body-long-sm: var(--ds-body-long-sm-font-size);
  --text-body-long-sm--font-weight: var(--ds-body-long-sm-font-weight);
  --text-body-long-sm--letter-spacing: var(--ds-body-long-sm-letter-spacing);
  --text-body-long-sm--line-height: var(--ds-body-long-sm-line-height);

  --text-body-long-md: var(--ds-body-long-md-font-size);
  --text-body-long-md--font-weight: var(--ds-body-long-md-font-weight);
  --text-body-long-md--letter-spacing: var(--ds-body-long-md-letter-spacing);
  --text-body-long-md--line-height: var(--ds-body-long-md-line-height);

  --text-body-long-lg: var(--ds-body-long-lg-font-size);
  --text-body-long-lg--font-weight: var(--ds-body-long-lg-font-weight);
  --text-body-long-lg--letter-spacing: var(--ds-body-long-lg-letter-spacing);
  --text-body-long-lg--line-height: var(--ds-body-long-lg-line-height);

  --text-body-long-xl: var(--ds-body-long-xl-font-size);
  --text-body-long-xl--font-weight: var(--ds-body-long-xl-font-weight);
  --text-body-long-xl--letter-spacing: var(--ds-body-long-xl-letter-spacing);
  --text-body-long-xl--line-height: var(--ds-body-long-xl-line-height);

  /* heading */
  --text-heading-2xs: var(--ds-heading-2xs-font-size);
  --text-heading-2xs--font-weight: var(--ds-heading-2xs-font-weight);
  --text-heading-2xs--letter-spacing: var(--ds-heading-2xs-letter-spacing);
  --text-heading-2xs--line-height: var(--ds-heading-2xs-line-height);

  --text-heading-xs: var(--ds-heading-xs-font-size);
  --text-heading-xs--font-weight: var(--ds-heading-xs-font-weight);
  --text-heading-xs--letter-spacing: var(--ds-heading-xs-letter-spacing);
  --text-heading-xs--line-height: var(--ds-heading-xs-line-height);

  --text-heading-sm: var(--ds-heading-sm-font-size);
  --text-heading-sm--font-weight: var(--ds-heading-sm-font-weight);
  --text-heading-sm--letter-spacing: var(--ds-heading-sm-letter-spacing);
  --text-heading-sm--line-height: var(--ds-heading-sm-line-height);

  --text-heading-md: var(--ds-heading-md-font-size);
  --text-heading-md--font-weight: var(--ds-heading-md-font-weight);
  --text-heading-md--letter-spacing: var(--ds-heading-md-letter-spacing);
  --text-heading-md--line-height: var(--ds-heading-md-line-height);

  --text-heading-lg: var(--ds-heading-lg-font-size);
  --text-heading-lg--font-weight: var(--ds-heading-lg-font-weight);
  --text-heading-lg--letter-spacing: var(--ds-heading-lg-letter-spacing);
  --text-heading-lg--line-height: var(--ds-heading-lg-line-height);

  --text-heading-xl: var(--ds-heading-xl-font-size);
  --text-heading-xl--font-weight: var(--ds-heading-xl-font-weight);
  --text-heading-xl--letter-spacing: var(--ds-heading-xl-letter-spacing);
  --text-heading-xl--line-height: var(--ds-heading-xl-line-height);

  --text-heading-2xl: var(--ds-heading-2xl-font-size);
  --text-heading-2xl--font-weight: var(--ds-heading-2xl-font-weight);
  --text-heading-2xl--letter-spacing: var(--ds-heading-2xl-letter-spacing);
  --text-heading-2xl--line-height: var(--ds-heading-2xl-line-height);

  /******************************
    * Color                       *
    ******************************/
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  --color-accent-surface-tinted: var(--ds-color-accent-surface-tinted);
  --color-accent-surface-hover: var(--ds-color-accent-surface-hover);
  --color-accent-surface-active: var(--ds-color-accent-surface-active);
  --color-accent-base: var(--ds-color-accent-base-default);
  --color-accent-base-hover: var(--ds-color-accent-base-hover);
  --color-accent-base-active: var(--ds-color-accent-base-active);
  --color-accent-base-contrast: var(--ds-color-accent-base-contrast-default);
  --color-accent-base-contrast-subtle: var(
    --ds-color-accent-base-contrast-subtle
  );

  --color-neutral-surface-tinted: var(--ds-color-neutral-surface-tinted);
  --color-neutral-surface-hover: var(--ds-color-neutral-surface-hover);
  --color-neutral-surface-active: var(--ds-color-neutral-surface-active);
  --color-neutral-base: var(--ds-color-neutral-base-default);
  --color-neutral-base-hover: var(--ds-color-neutral-base-hover);
  --color-neutral-base-active: var(--ds-color-neutral-base-active);
  --color-neutral-base-contrast: var(--ds-color-neutral-base-contrast-default);
  --color-neutral-base-contrast-subtle: var(
    --ds-color-neutral-base-contrast-subtle
  );

  --color-brand1-surface-tinted: var(--ds-color-brand1-surface-tinted);
  --color-brand1-surface-hover: var(--ds-color-brand1-surface-hover);
  --color-brand1-surface-active: var(--ds-color-brand1-surface-active);
  --color-brand1-base: var(--ds-color-brand1-base-default);
  --color-brand1-base-hover: var(--ds-color-brand1-base-hover);
  --color-brand1-base-active: var(--ds-color-brand1-base-active);
  --color-brand1-base-contrast: var(--ds-color-brand1-base-contrast-default);
  --color-brand1-base-contrast-subtle: var(
    --ds-color-brand1-base-contrast-subtle
  );

  --color-brand2-surface-tinted: var(--ds-color-brand2-surface-tinted);
  --color-brand2-surface-hover: var(--ds-color-brand2-surface-hover);
  --color-brand2-surface-active: var(--ds-color-brand2-surface-active);
  --color-brand2-base: var(--ds-color-brand2-base-default);
  --color-brand2-base-hover: var(--ds-color-brand2-base-hover);
  --color-brand2-base-active: var(--ds-color-brand2-base-active);
  --color-brand2-base-contrast: var(--ds-color-brand2-base-contrast-default);
  --color-brand2-base-contrast-subtle: var(
    --ds-color-brand2-base-contrast-subtle
  );

  --color-brand3-surface-tinted: var(--ds-color-brand3-surface-tinted);
  --color-brand3-surface-hover: var(--ds-color-brand3-surface-hover);
  --color-brand3-surface-active: var(--ds-color-brand3-surface-active);
  --color-brand3-base: var(--ds-color-brand3-base-default);
  --color-brand3-base-active: var(--ds-color-brand3-base-active);
  --color-brand3-base-hover: var(--ds-color-brand3-base-hover);
  --color-brand3-base-contrast: var(--ds-color-brand3-base-contrast-default);
  --color-brand3-base-contrast-subtle: var(
    --ds-color-brand3-base-contrast-subtle
  );

  --color-danger-surface-tinted: var(--ds-color-danger-surface-tinted);
  --color-danger-surface-hover: var(--ds-color-danger-surface-hover);
  --color-danger-surface-active: var(--ds-color-danger-surface-active);
  --color-danger-base: var(--ds-color-danger-base-default);
  --color-danger-base-hover: var(--ds-color-danger-base-hover);
  --color-danger-base-active: var(--ds-color-danger-base-active);
  --color-danger-base-contrast: var(--ds-color-danger-base-contrast-default);
  --color-danger-base-contrast-subtle: var(
    --ds-color-danger-base-contrast-subtle
  );

  --color-info-surface-tinted: var(--ds-color-info-surface-tinted);
  --color-info-surface-hover: var(--ds-color-info-surface-hover);
  --color-info-surface-active: var(--ds-color-info-surface-active);
  --color-info-base: var(--ds-color-info-base-default);
  --color-info-base-hover: var(--ds-color-info-base-hover);
  --color-info-base-active: var(--ds-color-info-base-active);
  --color-info-base-contrast: var(--ds-color-info-base-contrast-default);
  --color-info-base-contrast-subtle: var(--ds-color-info-base-contrast-subtle);

  --color-success-surface-tinted: var(--ds-color-success-surface-tinted);
  --color-success-surface-hover: var(--ds-color-success-surface-hover);
  --color-success-surface-active: var(--ds-color-success-surface-active);
  --color-success-base: var(--ds-color-success-base-default);
  --color-success-base-hover: var(--ds-color-success-base-hover);
  --color-success-base-active: var(--ds-color-success-base-active);
  --color-success-base-contrast: var(--ds-color-success-base-contrast-default);
  --color-success-base-contrast-subtle: var(
    --ds-color-success-base-contrast-subtle
  );

  --color-warning-surface-tinted: var(--ds-color-warning-surface-tinted);
  --color-warning-surface-hover: var(--ds-color-warning-surface-hover);
  --color-warning-surface-active: var(--ds-color-warning-surface-active);
  --color-warning-base: var(--ds-color-warning-base-default);
  --color-warning-base-hover: var(--ds-color-warning-base-hover);
  --color-warning-base-active: var(--ds-color-warning-base-active);
  --color-warning-base-contrast: var(--ds-color-warning-base-contrast-default);
  --color-warning-base-contrast-subtle: var(
    --ds-color-warning-base-contrast-subtle
  );

  --color-focus-inner: var(--ds-color-focus-inner);
  --color-focus-outer: var(--ds-color-focus-outer);

  /* background color */
  --background-color-accent: var(--ds-color-accent-background-default);
  --background-color-accent-tinted: var(--ds-color-accent-background-tinted);

  --background-color-brand1: var(--ds-color-brand1-background-default);
  --background-color-brand1-tinted: var(--ds-color-brand1-background-tinted);

  --background-color-brand2: var(--ds-color-brand2-background-default);
  --background-color-brand2-tinted: var(--ds-color-brand2-background-tinted);

  --background-color-brand3: var(--ds-color-brand3-background-default);
  --background-color-brand3-tinted: var(--ds-color-brand3-background-tinted);

  --background-color-danger: var(--ds-color-danger-background-default);
  --background-color-danger-tinted: var(--ds-color-danger-background-tinted);

  --background-color-info: var(--ds-color-info-background-default);
  --background-color-info-tinted: var(--ds-color-info-background-tinted);

  --background-color-neutral: var(--ds-color-neutral-background-default);
  --background-color-neutral-tinted: var(--ds-color-neutral-background-tinted);

  --background-color-success: var(--ds-color-success-background-default);
  --background-color-success-tinted: var(--ds-color-success-background-tinted);

  --background-color-warning: var(--ds-color-warning-background-default);
  --background-color-warning-tinted: var(--ds-color-warning-background-tinted);

  /* border color */
  --border-color-accent: var(--ds-color-accent-border-default);
  --border-color-accent-subtle: var(--ds-color-accent-border-subtle);
  --border-color-accent-strong: var(--ds-color-accent-border-strong);

  --border-color-brand1: var(--ds-color-brand1-border-default);
  --border-color-brand1-subtle: var(--ds-color-brand1-border-subtle);
  --border-color-brand1-strong: var(--ds-color-brand1-border-strong);

  --border-color-brand2: var(--ds-color-brand2-border-default);
  --border-color-brand2-subtle: var(--ds-color-brand2-border-subtle);
  --border-color-brand2-strong: var(--ds-color-brand2-border-strong);

  --border-color-brand3: var(--ds-color-brand3-border-default);
  --border-color-brand3-subtle: var(--ds-color-brand3-border-subtle);
  --border-color-brand3-strong: var(--ds-color-brand3-border-strong);

  --border-color-danger: var(--ds-color-danger-border-default);
  --border-color-danger-subtle: var(--ds-color-danger-border-subtle);
  --border-color-danger-strong: var(--ds-color-danger-border-strong);

  --border-color-info: var(--ds-color-info-border-default);
  --border-color-info-subtle: var(--ds-color-info-border-subtle);
  --border-color-info-strong: var(--ds-color-info-border-strong);

  --border-color-neutral: var(--ds-color-neutral-border-default);
  --border-color-neutral-subtle: var(--ds-color-neutral-border-subtle);
  --border-color-neutral-strong: var(--ds-color-neutral-border-strong);

  --border-color-success: var(--ds-color-success-border-default);
  --border-color-success-subtle: var(--ds-color-success-border-subtle);
  --border-color-success-strong: var(--ds-color-success-border-strong);

  --border-color-warning: var(--ds-color-warning-border-default);
  --border-color-warning-subtle: var(--ds-color-warning-border-subtle);
  --border-color-warning-strong: var(--ds-color-warning-border-strong);

  /* text color */
  --text-color-accent: var(--ds-color-accent-text-default);
  --text-color-accent-subtle: var(--ds-color-accent-text-subtle);

  --text-color-brand1: var(--ds-color-brand1-text-default);
  --text-color-brand1-subtle: var(--ds-color-brand1-text-subtle);

  --text-color-brand2: var(--ds-color-brand2-text-default);
  --text-color-brand2-subtle: var(--ds-color-brand2-text-subtle);

  --text-color-brand3: var(--ds-color-brand3-text-default);
  --text-color-brand3-subtle: var(--ds-color-brand3-text-subtle);

  --text-color-danger: var(--ds-color-danger-text-default);
  --text-color-danger-subtle: var(--ds-color-danger-text-subtle);

  --text-color-info: var(--ds-color-info-text-default);
  --text-color-info-subtle: var(--ds-color-info-text-subtle);

  --text-color-neutral: var(--ds-color-neutral-text-default);
  --text-color-neutral-subtle: var(--ds-color-neutral-text-subtle);

  --text-color-success: var(--ds-color-success-text-default);
  --text-color-success-subtle: var(--ds-color-success-text-subtle);

  --text-color-warning: var(--ds-color-warning-text-default);
  --text-color-warning-subtle: var(--ds-color-warning-text-subtle);
}
