@utility focus-ring {
  @apply ring-focus-inner outline-focus-outer ring-[3px] outline-[3px] outline-offset-[3px];
}

@utility focus-ring-sm {
  @apply ring-focus-inner outline-focus-outer ring-2 outline-2 outline-offset-2;
}

@custom-variant slotted (& ::slotted(*));

@theme {
  --animate-dash: dash 1.9s cubic-bezier(0.2, -0.01, 0.51, 0.96) infinite;
  --animate-spin-slow: spin 2.2s linear infinite;
  --animate-fade-out: fade-out 200ms ease-in forwards;

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

@layer components {
  .mid-input {
    @apply focus-within:focus-ring border-neutral bg-neutral-surface h-12 items-center rounded-md border px-3;
  }

  .mid-menu {
    @apply border-neutral-subtle rounded-md border shadow-md;
  }

  .mid-menu-item {
    @apply active:border-accent-base active:bg-accent-tinted focus-visible:border-accent-base focus-visible:bg-accent-tinted hover:border-accent-base hover:bg-accent-tinted bg-neutral block w-full rounded border-l-[5px] border-transparent px-3 py-2 font-medium outline-0;
  }

  .mid-button {
    @apply bg-accent-base text-accent-base-contrast hover:bg-accent-base-hover active:bg-accent-base-active focus-visible:focus-ring leading-sm flex h-fit min-h-12 min-w-12 grow cursor-pointer items-center justify-center gap-2 rounded border border-transparent px-4 py-2 font-medium;
  }

  .mid-label {
    @apply block font-medium;
  }

  .mid-link {
    @apply text-accent-subtle visited:text-link-visited focus-visible:bg-focus-outer hover:text-accent inline-flex items-center gap-2 underline decoration-[.0625rem] underline-offset-[.27em] outline-0 hover:decoration-[.125rem] focus-visible:text-white;
  }
}
