/* @import url('./temp-themes/digdir.css'); */
@import '@digdir/designsystemet-css/base';

@supports (scrollbar-gutter: stable) {
  .mid-scroll-lock {
    scrollbar-gutter: var(--mid-scroll-lock-gutter) !important;
  }

  .mid-scroll-lock body {
    overflow: hidden !important;
  }
}

/** This can go away once Safari has scrollbar-gutter support. */
@supports not (scrollbar-gutter: stable) {
  .mid-scroll-lock body {
    padding-right: var(--mid-scroll-lock-size) !important;
    overflow: hidden !important;
  }
}

.mid-toast-stack {
  position: fixed;
  bottom: 0;
  inset-inline-end: 0;
  padding-inline: 0.5rem;
  z-index: 600;
  width: min(32rem, 100% - 1rem);
  max-height: 100%;
  overflow: hidden;
}

.mid-toast-stack mid-alert {
  margin: 1rem;
}
